
### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Scala ###
.bsp/
.idea/
.metals/
.bloop/
### SBT ###
target/

### Scala IDE ###
project/target/
project/.bloop/
project/project/

src/client/src/main/scala/client/ui/